.Idea-List {
  font-size: 25px;
  color: #f6f4e6;
}

.footer-nav {
  position: relative;
  left: 0;
  bottom: 0;
  padding: 20px;
}

.Copyright {
  color: white;
}
.mail-footer {
  color: white;
}

.footer-google-plus-square {
  width: 37.2px;
  height: 37.2px;
  object-fit: contain;
  background-color: #707070;
}
.footer-github-square {
  width: 37.2px;
  height: 37.2px;
  background-color: #707070;
  object-fit: contain;
}
.footer-twitter-square {
  width: 37.2px;
  height: 37.2px;
  object-fit: contain;
  background-color: #707070;
}
