.Applying-for-GSoC {
  font-size: 25px;
  color: #f6f4e6;
}
.undraw_file_searching_duff {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Find-out-what-Google-Summer-of-Code-really-is-Research-on-our-projects-and-then-decide-Which-project-can-you-contribute-the-most-Which-project-interests-you-the-most {
  font-family: "PT Sans", sans-serif;

  color: #110133;
}
.next-button {
  text-align: center;
}
.undraw_searching_p5ux {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-left: 10%;
}

.footer-nav {
  left: 0;
  bottom: 0;
  padding: 20px;
}

.Copyright {
  color: white;
}
.mail-footer {
  color: white;
}

.path-422 {
  width: 46px;
  height: 46px;
  background-color: #45a53c;
  border-radius: 25px;
}
.Rectangle-732 {
  width: 130px;
  height: 2px;
  background-color: #707070;
}
.Ellipse-272 {
  width: 6px;
  height: 6px;
  background-color: #ffdc34;
}
.Rectangle-733 {
  width: 130px;
  height: 2px;
  background-color: #707070;
}
.Ellipse-273 {
  width: 6px;
  height: 6px;
  background-color: #ffdc34;
}
