.Applying-for-GSoC {
  font-size: 25px;
  color: #f6f4e6;
}
.undraw_Specs_djh3 {
  width: 358.7px;
  height: 305.6px;
  object-fit: contain;
}
.undraw_working_late_pukg {
  width: 100%;
  height: 305.9px;
  object-fit: contain;
}

.How-can-you-contribute-Propose-your-plans-using-the-provided-template-Expand-the-idea-and-give-us-details-of-how-it-can-be-implemented-and-how-we-can-help {
  width: 410px;
  font-family: "PT Sans", sans-serif;
  color: #110133;
}
.footer-nav {
  left: 0;
  bottom: 0;
  padding: 20px;
}

.show,
.footer-nav:hover {
  display: block;
}

.Copyright {
  color: white;
}
.mail-footer {
  color: white;
}
