.projects-showcase {
  font-size: 25px;
  color: #f6f4e6;
}

.smartmockups_k5btdykq {
  width: 350px;
  height: 350px;
  object-fit: contain;
}
.Carbon-Footprint {
  width: 518px;
  height: 30px;
  font-family: CasualCaps;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #4dd599;
}
.Climate-change-is-happening-Awareness-isnt-Therefore-we-developed-Carbon-Footprint-in-the-hopes-of-raising-awareness-of-the-impacts-our-everyday-actions-bring {
  width: 400px;
  height: 110px;
  font-family: PT Sans, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #110133;
}
.Technologies-Used-HTML-CSS-Javascript-Angular-Android-Nodejs-Actions-on-Google-Alexa-Skills {
  width: 307px;
  height: 36px;
  font-family: PTSans;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.API-httpscarbonhuborg {
  width: 180px;
  height: 17px;
  font-family: PTSans;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.API-httpscarbonhuborg .text-style-1 {
  font-style: normal;
}
.undraw_environment_iaus {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.Agora {
  width: 100px;
  height: 40px;
  font-family: CasualCaps;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #4dd599;
}
.There-isnt-just-one-voting-algorithm-theres-hundreds-Therefore-we-developed-Agora-to-allow-for-democratic-elections-using-any-algorithm {
  width: 330px;
  height: 120px;
  font-family: PT Sans, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #110133;
}
.Technologies-Used-HTML-CSS-Javascript-Angular-Nodejs-Scala-Play {
  width: 307px;
  height: 20px;
  font-family: PT Sans, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.API-httpagora-rest-apiherokuappcom {
  width: 180px;
  height: 17px;
  font-family: PT Sans, sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.smartmockups_k5btw1ey {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.undraw_voting_nvu7 {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.All-Projects {
  color: white;
}

.Apply-Now {
  background-color: #45a53c;
  color: white;
  border-radius: 20px;
  border-color: #45a53c;
  text-align: center;
  padding: 20px;

  font-size: 15px;
}

.apply-now {
  text-align: center;
}

.footer-nav {
  left: 0;
  bottom: 0;
  padding: 20px 0;
}

.Copyright {
  color: white;
}
.mail-footer {
  color: white;
}

.google-plus-square {
  width: 37.2px;
  height: 37.2px;
  object-fit: contain;
}
.github-square {
  width: 37.2px;
  height: 37.2px;
  object-fit: contain;
}
.twitter-square {
  width: 37.2px;
  height: 37.2px;
  object-fit: contain;
}
